* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}
*::selection {
  color: #4af626;
  background-color: rgb(0, 0, 0);
}

p {
  font-size: 20px;
}
body {
  font-family: "JetBrains Mono";
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
.dark-mode {
  background-color: #212121;
  color: white;
  color-scheme: dark;
  --hr-after-bg-color: #212121;
  --hr-bg-color: rgb(255, 255, 255);
  --hr-color: rgb(255, 255, 255);
}
.dark-mode::selection {
  color: #4af626;
  background-color: rgb(0, 0, 0);
}
header {
  padding: 3%;
}
#navbar {
  border-color: white;
  font-size: larger;
  font-weight: 600;
  border: 5px solid;
  text-shadow: rgb(16, 255, 115) 1px 0 10px;
}
#navbar li {
  text-decoration: underline solid;
  display: inline-block;
  padding: 3%;
}
#navbar li:hover {
  color: rgb(103, 255, 133);
  transition: color 1s ease-out;
}
#navbar a {
  text-decoration: none;
  color: inherit;
}
main {
  margin: 0% 7% 5% 7%;
  padding: 5%;
  border: 10px solid rgb(0, 140, 255);
}
h1 {
  text-align: center;
  text-decoration: underline solid rgb(112, 112, 255);
  font-size: 250%;
}
h1::before,
h3::before {
  content: "-> ";
}
p::before {
  content: "[*] ";
}
#bold-text {
  font-weight: 900;
  text-decoration: underline solid;
}
.intro-container {
  margin: 5% 0% 5% 0%;
}
.tech-container {
  margin: 5% 0% 5% 0%;
}
.tech-container ul {
  color: black;
  list-style-type: none;
}
.tech-container li {
  display: block;
  border: 5px solid rgb(0, 0, 0);
  margin: 6px;
  padding: 1%;
  font-weight: 600;
}
.tech-container li:nth-child(1) {
  background-color: rgb(255, 65, 65);
}
.tech-container li:nth-child(2) {
  background-color: #2965f1;
}
.tech-container li:nth-child(3) {
  background-color: #f0db4f;
}
.right {
  float: right;
}
.right::before {
  content: "=>";
}
#blogs-container {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  padding: 2%;
  margin: 5% 0% 5% 0%;
}
#blogs-container * {
  margin: 12px;
}

#blogs-container h3 {
  text-decoration: underline solid salmon;
}
h3 {
  cursor: pointer;
}
.blog-one {
  border: 5px solid;
}
.right-2 {
  text-align: center;
}
.left {
  float: left;
}
footer {
  margin: 5%;
  padding: 2.5%;
  border: 6px solid rgb(255, 49, 53);
  font-weight: 300;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#theme-toggle {
  background-color: rgb(0, 0, 0);
  color: white;
}
.readmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.readmore a {
  color: inherit;
  text-decoration: underline solid rgb(0, 0, 0);
}

.contact-container {
  border: none;
  padding: 5%;
  margin: 1% 11% 1% 11%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: baseline;
  justify-items: center;
  font-size: larger;
}
.contact-container div:hover {
  color: rgb(0, 125, 31);
  transition: color 500ms ease-in-out;
}
.contact-container a {
  color: inherit;
  text-decoration: none;
}
.contact-container ul {
  list-style: none;
}
#phone-number {
  --balloon-color: rgb(0, 0, 0);
  --balloon-text-color: #ffffff;
}
#phone-logo {
  font-size: 1.5rem;
}
.checklist-container label {
  cursor: copy;
}
.checklist-container {
  display: none;
}
@media screen and (max-width: 500px) {
  #header {
    font-size: x-small;
    padding: 0;
    margin: 1.5%;
  }
  #blogs-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    padding: 2%;
    margin: 5% 0% 5% 0%;
  }
}

@media screen and (max-width: 1150px) {
  h1 {
    font-size: 28px;
  }
  .contact-container {
    padding: 5%;
    margin: 5% 0% 5% 0%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    font-size: 15px;
  }
}
